# Consolidate commit authorship under the current institutional address.
Stefan Schippers <stefan.schippers@uni-giessen.de> <stefan.schippers@desy.de>
Stefan Schippers <stefan.schippers@uni-giessen.de> <57094364+sschippe@users.noreply.github.com>